@import "@/styles/variables.scss";

.create_snack {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: 1.3rem;
  width: 175px;
  margin: 10px auto;

  color: var(--division-intense);
  background-color: var(--bg-aba);

  border: 2.5px dashed var(--division-intense);
  border-radius: 20px;

  p {
    user-select: none;
  }
}
