.container_main {
  display: flex;
  flex-direction: column;

  width: 100%;
  border-left: 1px solid var(--division);
  padding: 0.5rem 0 0.5rem 0.5rem;

  h3 {
    color: var(--division);
  }

  .container_content {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 0 0 0.3rem;
  }
}
