@import "@/styles/variables.scss";

.button {
  padding: 0.35rem 1rem;
  border: 1px solid $division;
  border-radius: 10px;
  box-shadow: $shadow-btn;
  
  font-size: 1.1rem;
  color: $red-secondary;
  background-color: $bg-secondary;
  letter-spacing: 1px;

  text-decoration: none;
  cursor: pointer;
  
  &.main {
    border-color: $red-border;
    background-color: $red-primary;
    color: $white-primary;
  }

  &.clicked {
    box-shadow: $shadow-btn-click;
  }
}
