@import "@/styles/variables.scss";

.button {
  padding: 0.35rem 1rem;
  border: 1px solid $division;
  border-radius: 10px;
  box-shadow: $shadow-btn;
  
  font-size: 1.1rem;
  color: $red-secondary;
  background-color: $bg-secondary;
  letter-spacing: 1px;

  text-decoration: none;
  cursor: pointer;
  
  &.main {
    border-color: $red-border;
    background-color: $red-primary;
    color: $white-primary;
  }

  &.link,
  &.target-link {
    letter-spacing: normal;
    font-size: 1.3rem;
    font-weight: bold;
    color: $red-primary;
    padding: 0;

    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  
  &.url {
    text-decoration: underline;
  }

  &.clicked {
    box-shadow: $shadow-btn-click;
  }
}
