.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 0.9rem;
  gap: 1.3rem;
  width: 100%;

  .container_options {
    text-align: end;

    a {
      font-size: 1rem;
      text-decoration: none;
    }
  }
}
