.button {
  padding: 0.35rem 1rem;
  border: 1px solid var(--division);
  border-radius: 10px;
  box-shadow: var(--shadow-btn);

  font-size: 1.1rem;
  color: var(--red-secondary);
  background-color: var(--bg-secondary);
  letter-spacing: 1px;

  text-decoration: none;
  cursor: pointer;

  &.main {
    border-color: var(--red-border);
    background-color: var(--red-primary);
    color: var(--white-primary);
  }

  &.clicked {
    box-shadow: var(--shadow-btn-click);
  }
}
