.container {
  width: 100%;
  height: 100vh;
  position: relative;

  .icon {
    position: absolute;

    &.pos_1 {
      top: 15rem;
      left: 2rem;
    }

    &.pos_2 {
      bottom: 7rem;
      left: 12rem;
    }

    &.pos_3 {
      top: 9rem;
      right: 18rem;
    }

    &.pos_4 {
      bottom: 12rem;
      right: 8rem;
    }
  }

  .panel {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: 35rem;
    min-height: 10rem;
    border-radius: 30px;

    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-default);

    padding: 2rem;

    &.max_width {
      display: flex;
      align-items: center;
      width: 65rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1.5rem;

      .title {
        font-size: 3rem;
        background: var(--red-gradient);
        background-clip: text;
        color: transparent;
      }

      .container_redirect {
        margin-top: auto;
        display: flex;
        gap: 1rem;

        .text {
          color: var(--gray-primary);
          font-size: 1.3rem;
        }
      }
    }
  }
}
