@import "@/styles/functions.scss";

.container_main {
  display: flex;
  flex-direction: column;

  width: 90%;
  margin: auto;
  gap: 1.5rem;

  .container_inputs {
    @include applyOverflow(25rem);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
}
