@mixin applyOverflow($limitSize, $direction: "y") {
  @if ($direction == "y") {
    overflow-y: auto;
    max-height: $limitSize;
  } @else {
    overflow-x: auto;
    max-width: $limitSize;
  }
}

@mixin applyGrid($columns) {
  grid-template-columns: repeat($columns, (100% / $columns));
}
