@import "./reset";
@import "./variables";

html {
  font-size: 14px;
}

body {
  background-color: $bg-principal;
}

.block_shadow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-shadow;
  width: 100%;
  height: 100vh;
  top: 0;
}
