@import "@/styles/variables.scss";

.container {
  display: flex;
  width: $width-modal;

  .body {
    background-color: var(--bg-primary);
    box-shadow: var(--shadow-default);
    width: 100%;
    border-radius: 25px;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: var(--division) solid 1px;
      height: 3rem;

      color: var(--black-primary);
    }

    .content {
      max-height: 40vh;
      overflow-y: auto;
      margin: 5%;
      margin-bottom: 0;
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 5rem;
    }
  }
  @media (max-width: $media-tablet) {
    width: 28rem;
  }

  @media (max-width: $media-mobile) {
    width: 90%;
  }
}
