@import "@/styles/variables.scss";

$width-modal: 35rem;

.body {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  background-color: $bg-principal;
  border-radius: 25px;
  box-shadow: $shadow-default;
  width: $width-modal;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $division solid 1px;
    height: 3rem;

    color: $black-principal;
  }

  .content {
    max-height: 40vh;
    overflow-y: auto;
    margin: 5%;
    margin-bottom: 0;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 5rem;
  }

  @media (max-width: $media-tablet) {
    width: 28rem;
  }

  @media (max-width: $media-mobile) {
    width: 90%;
  }
}
