$bg-principal: #F2F2F2;
$bg-secondary: #EBEBEB;

$division: rgba(206, 206, 206, 49);
$division-intense: #C8C8C8;
$gray-principal: #838383;

$red-primary: #D43D3D;
$red-secondary: rgba(172, 27, 27, 80);
$red-border: #FFA6A6;
$red-gradient: linear-gradient(to right, #ED2828 0%, #AC1B1B 100%);

$shadow-default: 0px 5px 10px rgba(0, 0, 0, 0.15);
$shadow-btn: 1px 2px 3px rgba(0, 0, 0, 0.25);
$shadow-btn-click: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
