.container_main {
  background-color: var(--bg-secondary);
  border-radius: 20px;

  &.internal {
    background-color: var(--bg-aba);
  }

  &.open {
    box-shadow: var(--shadow-default);
  }

  .header {
    display: flex;
    align-items: center;

    padding: 1rem 1.3rem;
    gap: 1rem;

    transition: border 0.2s ease-in-out;
    border-bottom: 1px solid transparent;

    &.division_visible {
      border-bottom: 1px solid var(--division);
    }

    h2 {
      background: var(--red-gradient);
      background-clip: text;
      color: transparent;
      font-size: 1.8rem;
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    .span_message {
      width: 100%;
      background-color: var(--bg-aba);
      color: var(--black-primary);

      border-radius: 0 0 20px 20px;
      padding: 1rem 1.3rem;
      font-size: 1rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      overflow: auto;

      margin: 1.3rem 0 1.5rem 0;
      padding: 0 3rem;
      gap: 1rem;
    }
  }
}
