@import "@/app/variables.scss";

.header {
  display: flex;
  border-bottom: 1px solid $division;

  margin-left: 4rem;
  width: calc(100% - 4rem);

  .container_logo {
    display: flex;
    align-items: center;

    margin: 1rem;
    gap: 0.7rem;

    .title {
      font-size: 1.5rem;
      color: $red-primary;
    }
  }

  .container_content {
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;

    &.auto_left {
      margin-left: auto;
    }
  }

  @media (max-width: 600px) {
    margin-left: 0;
    width: 100%;
  }
}
