.container_main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .container_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    span {
      display: flex;
      gap: 0.5rem;

      p {
        color: var(--black-primary);
        font-size: 1.3rem;

        &.value {
          color: var(--red-tertiary);
        }
      }
    }

    @media (max-width: 850px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .container_actions {
    display: flex;
    align-self: flex-end;
    padding: 10px 0;
    gap: 1rem;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .not_orders {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    font-size: 1.35rem;
    color: var(--black-primary);
  }
}
