.container_main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .container_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    span {
      display: flex;
      width: 100%;
      gap: 0.5rem;

      p {
        color: var(--black-primary);
        font-size: 1.3rem;

        &.value {
          color: var(--red-tertiary);
        }
      }
    }
  }

  .not_orders {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    font-size: 1.35rem;
    color: var(--black-primary);
  }
}
