@import "@/styles/variables.scss";

$max-width: 70rem;
$padding: 5rem 3rem;

.container_main {
  min-height: 100vh;

  &.spaceAside {
    margin-left: $size-aside;
  }

  &.background_gray {
    background-color: var(--gray-secondary);
  }

  .container_img {
    box-shadow: var(--shadow-default);
    position: relative;
    width: 100%;
    height: 240px;

    .img {
      object-fit: cover;
    }
  }

  .container_description {
    display: flex;
    max-width: $max-width;
    padding: $padding;
    position: relative;
    margin: auto;

    &.steering_control {
      flex-direction: row;
    }

    .container_text {
      margin: auto;
      padding: 0 3rem;

      .title {
        position: relative;
        background: var(--red-gradient);
        background-clip: text;
        color: transparent;
        font-size: 2rem;

        &::before {
          content: "";
          position: absolute;
          background: var(--red-gradient);
          border-radius: 50px;
          bottom: -5px;
          width: 16rem;
          height: 3px;
        }
      }

      .text {
        margin: 2rem;
        font-size: 1.45rem;
        color: var(--gray-primary);
      }
    }

    // largura mínima Desktop
    @media (max-width: $media-pc-min) {
      .illustration {
        width: 30%;
      }

      .container_text {
        .title {
          font-size: 1.8rem;
        }

        .text {
          font-size: 1.25rem;
        }
      }
    }

    // Largura Tablet
    @media (max-width: $media-tablet) {
      flex-direction: column;
      align-items: center;

      &.steering_control {
        flex-direction: column-reverse;
      }

      .illustration {
        width: auto;
      }

      .container_text {
        padding: 0;

        .title {
          font-size: 1.9rem;
        }

        .text {
          font-size: 1.35rem;
        }
      }
    }

    // Largura Mobile
    @media (max-width: $media-mobile) {
      .container_text {
        .title {
          font-size: 1.7rem;

          &::before {
            width: 12rem;
          }
        }

        .text {
          font-size: 1.2rem;
        }
      }
    }
  }

  .container_content {
    position: relative;
    max-width: $max-width;
    padding: $padding;
    margin: auto;
  }
}
