.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  margin: auto;

  .span_label {
    display: flex;
    position: absolute;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    top: -0.7rem;
    left: 0;
    gap: 0.3rem;

    z-index: 100;
    border-radius: 8px 8px 0 0;

    background-color: var(--bg-primary);
    color: var(--gray-primary);

    span {
      color: var(--red-secondary);
      font-weight: bolder;
    }
  }

  .container_input {
    position: relative;
    width: 100%;

    .input {
      width: 100%;
      padding: 1rem;
      font-size: 1.2rem;

      background-color: var(--bg-primary);
      color: var(--black-primary);

      border: solid 1px transparent;
      box-shadow: var(--shadow-default);
      border-radius: 10px;

      &.indent {
        text-indent: 2rem;
      }
    }

    .icon {
      position: absolute;
      font-size: 2.2rem;

      color: var(--gray-primary);
      transform: translateY(-50%);
      left: 0.5rem;
      top: 50%;
    }

    .label {
      position: absolute;
      color: var(--black-primary);
      user-select: none;
      pointer-events: none;
      font-size: 1.2rem;
      top: 50%;
      left: 5%;

      &.indent {
        left: 12.5%;
      }
    }
  }
}
