@import "@/styles/variables.scss";

.container_main {
  display: flex;
  align-items: center;
  justify-content: start;

  padding: 0 0.8rem;
  gap: 1rem;

  border-left: 1px solid var(--division-intense);

  .container_msg_label {
    display: flex;
    gap: 0.3rem;

    .icon {
      font-size: 1.5rem;

      &.alert {
        color: var(--red-secondary);
      }

      &.pending {
        color: var(--blue-primary);
      }

      &.success {
        color: var(--green-primary);
      }
    }

    .label {
      font-size: 1.3rem;
      color: var(--black-primary);

      &.success {
        color: var(--green-primary);
      }

      &.pending {
        color: var(--blue-primary);
      }
    }

    @media (max-width: 650px) {
      .icon {
        font-size: 1.35rem;
      }

      .label {
        font-size: 1.15rem;
      }
    }

    @media (max-width: 460px) {
      .label {
        white-space: nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;
    gap: 0.5rem;
  }

  @media (max-width: $media-mobile) {
    border: none;
    padding: 0 0.5rem;
  }
}
