@import "@/styles/variables.scss";

.container_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem 0.5rem 2rem 0.5rem;
  gap: 1rem;

  box-shadow: var(--shadow-card);
  background-color: var(--bg-aba);
  border-radius: 20px;

  h2 {
    font-size: 1.6rem;
    color: var(--gray-primary);
  }

  .container_options {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 5rem;

    button {
      font-size: 1.3rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @media (max-width: $media-tablet) {
      gap: 3rem;

      button {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
      }
    }

    @media (max-width: 550px) {
      gap: 2rem;

      button {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }

    @media (max-width: 500px) {
      flex-direction: column;
      gap: 1rem;

      button {
        width: 80%;
        padding-left: 2rem;
        padding-right: 2rem;
      }

      a {
        width: 80%;
        button {
          width: 100%;
        }
      }
    }
  }
}
