.btn_reorder {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0;
}

.container_sessions {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1.25rem;
    color: var(--black-primary);
  }
}

.add_category {
  display: flex;
  justify-content: center;
  cursor: pointer;

  padding: 0.6rem;
  margin: 2.5rem 0;

  border-radius: 20px;
  border: 2.5px dashed var(--division-intense);

  background-color: var(--bg-aba);
  color: var(--division-intense);
  font-size: 1.8rem;
}
