.btn_reorder {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0;
}

.container_sessions {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1.25rem;
    color: var(--black-primary);
  }
}
